<div>
  <h2 class="footer__heading heading heading--s">{{ heading }}</h2>

  <address class="footer__adress">
    {{ text }}
    <ul
      class="footer__list--address list"
      role="list"
      aria-label="social links"
    >
      <li>
        <a class="link link--disabled link--facebook" href="{{ facebook_link }}" target="_blank">
          <span class='visually-hidden'>our facebook page</span>
          <img
            src="{{- "logo__facebook.svg" | asset_url -}}"
            alt=""
            role="presentation"
            loading="lazy"
          >
        </a>
      </li>

      <li>
        <a class="link link--disabled link--instagram" href="{{ instagram_link }}" target="_blank">
          <span class='visually-hidden'>our instagram page</span>
          <img
            src="{{- "logo__instagram.svg" | asset_url -}}"
            alt=""
            role="presentation"
            loading="lazy"
          >
        </a>
      </li>
    </ul>
  </address>
</div>
