
  <section class="product__product-card"
    aria-labelledby="heading-{{ product.handle }}"
    data-section-type="alternate-main-product"
    data-section-id="{{ section.id }}">

    <img
      class="product__image"
      src="{{ product.featured_image | image_url }}"
      width="473"
      height="707"
      alt=""
      role="presentation"
      loading="lazy"
    >

    <div class="product__info">
      <h1 class="product__name heading heading--lg" id="heading-{{ product.handle }}">{{ product.title }}</h1>
      <p class="product__code">
        <span class="visually-hidden">price:</span>
        {{- shop.currency -}}&nbsp
      <span class="product__code--number">{{ product.selected_or_first_available_variant.price | money_without_currency }}
    </span>
    </p>
      <p class="product__tax">Tax included</p>

      {%- form "product", product, class: "product__form form", aria-label: "order details", data-handle: product.handle -%}

        {%- for option in product.options_with_values -%}
        <fieldset class="fieldset product__fieldset">
          <legend class="product__input-title">{{ option.name }} {% if option.name == "Color" %}- <span class="product__input-title--color"></span>{% endif %}</legend>
          <div class="product__input-container">
          {%- for value in option.values -%}
            {%- case option.name -%}
              {%- when "Size" -%}
                {%- render "alternate-input--size", option: option, value: value -%}
              {%- when "Color" -%}
                {%- render "alternate-input--color", option: option, value: value -%}
              {%- endcase -%}
          {%- endfor -%}
         </div>

        </fieldset>
      {%- endfor -%}

        <fieldset class="fieldset product__fieldset product__fieldset--last product__fieldset--quantity">
          <legend class="product__input-title product__input-title--quantity">
            <label for="quantity">Quantity</label>
          </legend>

          <div class="product__quantity">

            <button class="product__quantity-button product__quantity-button--decrease" type="button" aria-label="decrease quantity by one">
              <span aria-hidden="true">−</span>
            </button>

            <input
              class="product__quantity-input"
              type="number"
              id="quantity"
              value="1"
              min="1"
              max="99"
              name="quantity"
            >

            <button class="product__quantity-button product__quantity-button--increase" type="button" aria-label="increase quantity by one">
              <span aria-hidden="true">+</span>
            </button>
          </div>
        </fieldset>

        <div class="product__button-container">
          <button class="button button--add" type="submit" name="type" value="add">
            <span>add <span class="visually-hidden">{{ product.title | downcase }}</span> to cart</span>
          </button>
          <span
            class="form__error"
            aria-live="polite"
            role="alert"
          >
          </span>
          <button class="button button--buy" type="submit" name="type" value="buy">
            <span><span class="visually-hidden">{{ product.title | downcase }}</span>buy it now</span>
          </button>
        </div>
      {%- endform -%}

      {% if product.content %}
        <p class="product__description product__description--last">{{ product.description }}</p>
      {% endif %}
    </div>
  
  </section>


  {%- assign accordions = section.blocks | where: "type", "accordeon" -%}
  {%- if accordions.size > 0 -%}
    <section
      class="product__additional accordion"
    >
      {% for block in accordions %}
        <div class="product__additional-topic" {{ block.shopify_attributes }}>
          <h2 class="heading" id="productInfo1">
            <button
              type="button"
              aria-controls="description--{{ block.id }}"
              class="product__additional-title accordion__button"
              aria-expanded="false"
              id="id--{{ block.id }}"
            >
              {{ block.settings.title }}
            </button>
          </h2>
          <div
            class="product__additional-text"
            id="description--{{ block.id }}"
            aria-labelledby="id--{{ block.id }}"
            hidden
          >
            {{ block.settings.text }}
          </div>
        </div>
      {% endfor %}
    </section>
  {%- endif -%}


{% schema %}
{
  "name": "alternate-main-product",
  "tag": "div",
  "class": "product main__product",
  "templates": ["product"],
  "limit": 1,
  "settings": [],
  "blocks": [
    {
      "name": "Accordeon",
      "type": "accordeon",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Sizing & Fit"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product page",
      "settings": {},
      "blocks": [
        {
          "type": "accordeon"
        }
      ]
    }
  ]
}
{% endschema %}
