<script src="{{ 'alternate-header.js' | asset_url }}" type="module"></script>

<header class="page__header header" data-section-type="alternate-header" data-section-id="{{ section.id }}">
  <a class="skip-to" href="#main">Skip to main content</a>
  <div class="header__wrapper container">
    <nav class="header__main-menu main-menu" aria-label="Main Menu">
      <ul class="main-menu__list list" role="list">
        {%- for link in section.settings.menu.links -%}
          <li>
            <a class="link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </nav>
    <a class="link header__logo link--disabled" href="/">
      <span class="visually-hidden">Homepage</span>

      {% if section.settings.logo_image %}
        <img
          src="{{ section.settings.logo_image | image_url }}"
          alt=""
          role="presentation"
          width="139"
          height="32"
          loading="lazy"
        >
      {% else %}
        <p>{{ shop.name }}</p>
      {% endif %}
    </a>
    <nav class="header__main-menu main-menu" aria-label="Account Menu">
      <ul class="main-menu__list list" role="list">
        <li><a class="link" href="{{ routes.account_addresses_url }}">Account</a></li>
        <li><a class="link" href="{{ routes.search_url }}">Search</a></li>
        <li>
          <a class="link" href="/cart">
            <span class="main-menu__counter" aria-hidden="true">Cart ({{ cart.item_count }})</span>
            <span class="visually-hidden" aria-live="polite" role="status">Cart has {{ cart.item_count }} items</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

{% schema %}
{
  "name": "alternate-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Image"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
